.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.f_l {
  float: left;
}
.f_r {
  float: right;
}
.clear {
  clear: both;
}
.centered {
  text-align: center;
}
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}

// Colors
$colors: (
  brightred: #d01111,
  red: #b20f0f,
  darkred: #951515,
  darkerred: #560303,
  black: #222
);

@mixin rounded {
  border-radius: 3px;
}
@mixin border-shadow {
  box-shadow: 0 4px 10px rgba(0,0,0,.05);
  border: 1px solid rgba(0,0,0,.09);

}
