.header-main {
  height: 70px;
  background: map-get($colors, darkerred);
  @include media-l {
    height: 72px;
  }
  @include media-m {
    margin: 0 0 60px;
  }
  nav {
    display: none;
    float: left;
    margin: 24px 0 0 15px;
    @include media-l {
      display: block;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      float: left;
      list-style: none;
    }
    a {
      display: inline-block;
      font-family: $sans-serif-narrow;
      color: white;
      text-transform: uppercase;
      padding: 5px 10px;
      font-size: 14px;
    }
  }
}
.logo {
  width: 80px;
  margin: 10px 0 0 14px;
  float: left;
  @include media-l {
    width: auto;
  }
  img {
    display: block;
    max-width: 100%;
  }
}
.search {
  display: none;
  @extend .ir;
  position: absolute;
  width: 40px; height: 40px;
  background: url(../img/search.png) no-repeat center center / 50%;
  top: 17px; right: 10px;
  @include media-l {
    display: block;
  }
}
.mobile-nav {
  @include media-l {
    display: none;
  }
}
.menu-btn {
  position: absolute;
  top: 11px; right: 10px;
  font-size: 40px;
  padding-left: 1.25em;
  text-indent: -1000px;
  overflow: hidden;
  display: inline-block;
  @include media-l {
    display: none;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: white;
    box-shadow: 
      0 0.25em 0 0 white,
      0 0.5em 0 0 white;
  }
}
.pushy {
  background: map-get($colors, darkred);
  ul {
    padding: 0;
  }
  a {
    color: white;
    font-family: $sans-serif;
    &:visited {
      color: white;
    }
  }
}
.search-mobile {
  background: #791414;
  input[type="text"] {
    display: block;
    background: transparent;
    border: none;
    height: 40px; line-height: 20px;
    font-family: $sans-serif;
    padding: 0 40px 0 20px;
    width: 100%;
    color: white;
    outline: none;
  }
  input[type="submit"] {
    position: absolute;
    top: 0; right: 0;
    height: 40px; width: 40px;
    color: white;
  }
}


















